[submodule "vllm"]
	path = vllm
	url = https://github.com/T4t4KAU/vllm.git
	branch = fork-attn
[submodule "LMCache"]
	path = LMCache
	url = https://github.com/T4t4KAU/LMCache.git
	branch = fork-attn
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/T4t4KAU/llama.cpp.git
	branch = fork-attn
[submodule "sglang"]
	path = sglang
	url = https://github.com/oyyyyy61/sglang.git
	branch = fork-attn
[submodule "vllm"]
	path = vllm
	url = https://github.com/T4t4KAU/vllm.git
	branch = overlap